body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
h2 {
    color: #333;
}
input, button {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    background-color: #553eb7;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0100ff;
}
p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#almoco_sugestao {
    font-size: 16px;
    font-weight: normal;
    color: #666;
}